body {
    background-image: url("/Assets/Leaves.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-clip: border-box;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.header {
    max-width: 1200px;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* Glassmorphism */
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.subtitle {
    max-width: 1200px;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* Glassmorphism */
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gallery {
    max-width: 1200px;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 400px); /* 2 rows, adjust height as needed */
    gap: 10px; /* Spacing between images */
}

.gallery img {
    width: 100%;
    height: 100%; /* Ensures the image covers its grid cell */
    object-fit: cover; /* Ensures images cover the area without distortion */
    border-radius: 15px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.6em;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}


